/* Use class name  */

.page {
  width: 850px;
  background-color: #fff8eb;
  margin: auto;
  padding: 50px;
  padding-top: 35px;
}

.section{
  margin: 20px auto;
  background-color: wheat ;
  border: 1px solid;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.pure-g {
  margin-bottom: 40px;
}

.header {
  padding: 5px;
  /* some padding */
  text-align: center;
  /* center the text */
  background: #ffe37a;
  color: black;
  /* black text color */
}

/* Increase the font size of the <h1> element */
.header h1 {
  font-family:'Futura';
  font-size: 40px;
  /* width: 100%; */
}

.description{
  font-family:'Helvetica';
  /* font-size: 20px; */
  /* width: 100%; */
  padding-left: 20px;
  text-align: left;
  /* color: grey; */
}

.description-right{
  font-family: 'Helvetica';
  /* font-size: 20px; */
  /* width: 100%; */
  padding-left: 80px;
  padding-top: 20px;
  text-align: left;
  /* color: rgb(46, 43, 43); */
}

.divider {
  margin: auto;
  background: #fff49b;
  font-size: medium;
  padding: 2px;
  text-align: center;
  font-family: 'Futura';
}

#choropleth_map {
  size-adjust: 100%;
  align-self: center;
  
  /* top: 50px;
  left: 60px; */
  /* right: 100px; */

}

#heatmap{
  size-adjust: 100%;
  align-self: center;
  top: 10px;
  /* left: 60px; */
  /* right: 100px; */

}

#stackedbarchart {
  size-adjust: 100%;
  align-self: center;
  /* top: 50px; */
  /* left: 60px;  */
  /* right: 100px; */

}

#multilinechart {
  size-adjust: 100%;
  align-self: center;
  /* top: 50px; */
  /* left: 60px; */
  /* right: 100px; */

}

.center {
  text-align: left;
  display: block;
  margin-right: -10px;
  width: 50%;
  padding: 10px;
  margin: auto;
}